Django==2.0.7
django-admin-tools==0.8.1
django-environ==0.4.5
django-extensions==2.1.0
django-filter==2.0.0
djangorestframework==3.8.2
gunicorn==19.9.0
Markdown==2.6.11
numpy==1.14.5
pandas==0.23.3
psycopg2-binary==2.7.5
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
